{% extends 'layouts/base.html' %}

{% block content %}
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Roboto">
  <div class="wrapper">
    <div id="chart" class="chart">
      
    </div>
  </div>
  
    <img class="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="">

  <script>
    function createChart() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          var response = JSON.parse(this.responseText);
          console.log(response.data);
          var longest = response.data[0].total;
          var res = "";
          response.data.forEach(v => {
            res += `
              <div class="bar">
                <div id="v` + v.id + `" class="bar-inner" style="width: ` + v.total / longest * 100 + `%;">
                  <p id="t` + v.id + `" class="text">` + v.total + `</p>
                </div>
                <div class="text name">
                  ` + v.naam + `
                </div>
              </div>
            `;
          });
          $('#chart').html(res);
        }
      }
      xhr.open("GET", "{{url_for('main.data')}}", true);
      xhr.send();
    }

    function updateChart(){
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          var response = JSON.parse(this.responseText);
          var longest = response.data[0].total;
          response.data.forEach(v => {
            var bar = $("#v" + v.id);
            bar.css("width", v.total / longest * 100 + "%")
            $("#t" + v.id).text(v.total);
          });
        }
      }
      xhr.open("GET", "{{url_for('main.data')}}", true);
      xhr.send();
    }

    $( document ).ready(function() {
        createChart();
        setInterval(createChart, 10000);
    });
  </script>

{% endblock %}
