{% import 'macros/form_macros.html' as f %}
{% extends 'layouts/base.html' %}


{% block content %}

    <div class="ui text container">
        <h1>Groepen</h1>
        <div id="cards" class="ui cards">
            
        </div>
    </div>

    <script>
        function newUpdate(amount, id) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                console.log(response.data);

                }
            }
            var url = "{{url_for('main.update', vid=-10, amount=-11)}}".replace("-10", id).replace("-11", amount);
            console.log(url);
            xhr.open("GET", url, true);
            xhr.send();
        }


        function update() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                console.log(response.data);
                res = "";
                response.data.forEach(v => {
                    res += `
                    <div class="card">
                        <div class="content">
                            <div class="header">
                                `+ v.naam +`
                            </div>
                            <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui button" onclick="newUpdate(-1, `+v.id+`)">-1</div>
                                <div class="ui secondary button" onclick="newUpdate(+1, `+v.id+`)">+1</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    `;
                });
                $("#cards").html(res);

                }
            }
            xhr.open("GET", "{{url_for('main.data')}}", true);
            xhr.send();            
        }

        $( document ).ready(function() {
            update();
        });
    </script>

    
{% endblock %}
